@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*, *::before, *::after { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  background: linear-gradient(to right, #447297db, #4fcea2);
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.name-project {
  text-align: center;
  background: #8a7716;
  padding: 1rem;
  border-radius: 1rem;
  margin: 0.5rem;
  font-size: 40px;
  color: white;
  font-weight: bold;
}
