@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #f4f4f4;
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.NameProject {
  color: #f4f4f4;
  background: #8e6a23;
  width: 20rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: 0px 9px 15px -3px rgba(0,0,0,0.1);
}


