#result {
    grid-column: 3/5;
    grid-row: 5;
    color: #262834;
    color: white;
}

.show-value {
    height: 90px;
    background-color: #10111600;
    border: 0px;
    color: #fff;
    text-align: right;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: rgb(33, 30, 30);
    border: black 3px solid;
}